@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  cursor: url("/src/assets/syringe-cursor.svg") 16 16, auto;
}

button, a, input, select, textarea {
  cursor: pointer;
} */

html {
    scroll-behavior: smooth;
}

/* Fade in Hero Text */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(15px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fadeIn {
    animation: fadeIn 1s ease-out forwards;
}

/* Heart Hover Animation */

.heart-icon {
    position: absolute;
    bottom: 6px;
    left: 50%;
    transform: translateX(-50%) scale(0.6);

    color: #65B156;

    opacity: 0;
    pointer-events: none;
}

/* Trigger animation on hover */
.heart-btn:hover .heart-icon {
    animation: floatHeart 1s ease-out forwards;
}

/* Floating animation */
@keyframes floatHeart {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(0) scale(0.6);
    }

    20% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateX(-50%) translateY(-40px) scale(1.3);
    }
}

/* About us */

@keyframes modalIn {
    from {
        opacity: 0;
        transform: scale(0.9) translateY(20px);
    }

    to {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

.animate-modalIn {
    animation: modalIn 0.4s ease-out forwards;
}

/* Analyze Button Heart Effect */

.analyze-heart {
    position: absolute;
    left: 50%;
    bottom: 40px;

    transform: translateX(-50%) scale(0.7);

    color: #65B156;
    pointer-events: none;

    animation: analyzeHeartFloat 0.6s ease-out forwards;
}

@keyframes analyzeHeartFloat {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(0) scale(0.6);
    }

    20% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateX(-50%) translateY(-45px) scale(1.3);
    }
}