@tailwind base;
@tailwind components;
@tailwind utilities;

/* Heart Hover Animation */

.heart-icon {
    position: absolute;
    bottom: 6px;
    left: 50%;
    transform: translateX(-50%) scale(0.6);

    color: #65B156;

    opacity: 0;
    pointer-events: none;
}

/* Trigger animation on hover */
.heart-btn:hover .heart-icon {
    animation: floatHeart 1s ease-out forwards;
}

/* Floating animation */
@keyframes floatHeart {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(0) scale(0.6);
    }

    20% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateX(-50%) translateY(-40px) scale(1.3);
    }
}